*{margin: 0;padding: 0; user-select: none; font-family: "宋体";}
body{background: rgb(133, 88, 88);}
::-webkit-scrollbar {display: none;}
a,li{text-decoration: none; list-style: none;}
nav{width: 100%; height: 100px;}
nav ul{width: 100%; text-align: center; display: flex; justify-content: center;}
nav ul li{width: 300px; height: 100px; font-size: 23px; line-height: 100px; transition: .6S;}
nav ul li:hover{transform: scale(1.5);}
.banner{width: 10%; height: auto; font-size: 100px; line-height: 15vh; text-align: center; opacity: .5;  position: absolute; left: 0; top: 0;}
.box{width: 100%; height: auto;}
.main{margin: 0 auto; width: 80%;  height: auto; position: relative; top: 50px; text-align: center; font-size: 30px;}
.main .bt{font-size: 50px;}
.main .bt:hover{background: none; color: none;}
.main ul li{line-height: 100px; height: auto; transition: .6s; padding: 0 100px;}
.main ul li:hover{background: #000; color: #fff;}
.main .c{line-height: 50px;}
.footer{width: 100%; height: 50px; line-height: 50px; text-align: center; background: #000; color: #fff; margin-top: 50px;}